@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

:root {
    --black: #000000;
    --grey-black: #282828;
    --grey-light: #C4C4C4;
    --soft-white: #F5F5F5;
}

* {
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--black);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    background: var(--soft-white);
}
header {
    padding: 17px 82px 17px 29px;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 2;
    line-height: 20px;
}

header nav ul li {
    margin-left: 16px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.8rem;
}
header nav ul li a:hover {
    text-decoration: underline;
}
.main {
    padding: 0 82px 0 29px;
}
.main__title {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.main__title .title {
    width: 600px;
    position: absolute;
    left: 53px;
    top: 30px;
}
.main__title .title p{
    font-size: 56px;
    font-weight: 400;
}
.main__title .img {
    display: inline-block;
}
.main__title .img img {
    object-fit: contain;
}
section h3 {
    font-size: 3.5rem;
    font-weight: 500;
}
.main__projects .gallery {
    display: flex;
}
.main__projects .gallery figure {
    width: 200px;
}
.gallery figure img {
    width: 100%;
}
.main__creations .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about-content{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.about-links ul {
    display: flex;
    justify-content: space-around;
}
.about-links ul li {
    list-style-type: circle;
}
.main__clients .content {
    display: flex;
    justify-content: space-around;
}
.main__form .content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.main__form .content .subtitle {

}
.content .form form label {
    display: inline-block;
}
input {
    width: 221px;
    padding: 0.8rem;
}
.social-media {
    display: flex;
}