:root {
    --black: #000000;
    --grey-black: #282828;
    --grey-light: #C4C4C4;
    --soft-white: #F5F5F5;
}

* {
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--black);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}
header {
    padding: 17px 82px 17px 29px;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 2;
    line-height: 20px;
}

header nav ul li {
    margin-left: 16px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.8rem;
}
header nav ul li a:hover {
    text-decoration: underline;
}